body{
    margin:0;
    padding-top: 800px; 
    text-align: center;
}
.profile{
    border-radius: 50%;
    margin-top: 100px;

}
#welcome{
    position: absolute;
    display: table;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background: linear-gradient(#03f8fc 0%, #03fc3d 100% );
}
h1{
    font-family: sans-serif;
    font-size:40px;
    font-weight: 200
}
#name{
    font-family: 'Raleway', sans-serif;
    font-size:65px;
}
a{
    text-decoration: none;
}
#writing a{
    text-decoration: underline !important;
    color: #03fc3d !important;
}
h2{
    font-family: monospace;
    font-size:35px;
    font-weight: 500;
}
#bio{
    font-family: cursive;
    padding: 50px;
}
.line{
    height: 6px;
    width: 70px;
    background-color: aquamarine;
    margin: 8px auto;
}
.parralax-inner{
    display: table-cell;
    vertical-align: middle;
}
.menu{
    position: fixed;
    margin-top:0px;
    top:0px;
    z-index: 10;
    background-color: white;
    width:100%;
}
.links{
    display: inline;
    padding-right: 33px;
    padding-left: 25px;
    font-family: monospace;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
}
.line{
    background-color: aquamarine;
    height: 6px;
    width: 100px;
    margin: 9px auto;
}
#contacts{
    background-color: lightgrey;

}
#contacts iframe{
    width: 100%;
}
.contact1{
    display: inline;
}


